node_modules
dist/
build/
logs
*.log
*.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
.env.*
.env*.local
.env
!.env.example
.cache
.eslintcache
.npm
.husky/_
lint-results
coverage
/test-results/
.history/
.vscode/*
!.vscode/css-custom-data.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
*.code-workspace
.idea
.DS_Store
Thumbs.db
*.pem
*.csv
*.zip
*.rar
yarn.lock
.ssh/*
!.ssh/.gitkeep
.devpod-internal/